.saved-message > i {
  font-size: 22px;
}


.table thead th {
  vertical-align: bottom;
  border-right: 1px solid #fff;
  font-weight: 100;
  color: white;
  background-color: var(--light-grey);
  border-bottom: 2px solid #dee2e6;
}

.saved-message > span {
  vertical-align: top;
}

#tableHeader, #tableHeader > :first-child {
  display: flex;
  align-items: center;
}

#tableHeader {
  margin-bottom: 20px;
  justify-content: space-between;
}

#searchContainer, #toggleFilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 11px;
  background-color: #f6f6f6;
}

#searchContainer {
  margin-left: 15px;
}

#searchContainer > input {
  border: none;
  background-color: inherit;
  outline: 0;
}

#searchContainer > input::placeholder {
  color: #000;
}

#searchContainer > mat-icon {
  color: #adadad;
}

#toggleFilters {
  cursor: pointer;
}

#toggleFilters > mat-icon {
  margin-left: 10px;
  background-color: #8d8d8d;
  border-radius: 4px;
  color: #fff;
}

#toggleFilters > span {
  color: #8d8d8d;
}

::ng-deep .table-hover tbody tr {
  cursor: pointer;
}

::ng-deep .mat-checkbox-inner-container {
  margin-left: 0 !important;
}

::ng-deep .mat-checkbox-layout {
  margin-bottom: 0 !important;
}

::ng-deep tr.checked > td {
  background-color: rgba(0, 0, 0, .075);
}

::ng-deep td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center !important;
  font-size: 14px;
}

::ng-deep .row-actions > a {
  text-decoration: none;
}

::ng-deep .row-actions i, ::ng-deep .row-icon {
  color: var(--primary-color);
  margin-left: 4px;
  cursor: pointer;
  font-size: 22px;
  vertical-align: middle;
}

::ng-deep .row-right {
  text-align: right!important;
}

::ng-deep .row-actions > img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000;
}
