.ltr
  direction: ltr !important
  text-align: left

.rtl
  direction: rtl !important
  text-align: right !important

.ltr .mr-5
  margin-left 3rem !important
  margin-right 0 !important

.ltr .mr-4
  margin-left 1.5rem !important
  margin-right 0 !important

.ltr .mr-3
  margin-left 1rem !important
  margin-right 0 !important

.ltr .mr-2
  margin-left .5rem !important
  margin-right 0 !important

.ltr .mr-1
  margin-left .25rem !important
  margin-right 0 !important

/*rtl mr*/

.rtl .mr-5
  margin-right 3rem !important
  margin-left 0 !important

.rtl .mr-4
  margin-right 1.5rem !important
  margin-left 0 !important

.rtl .mr-3
  margin-right 1rem !important
  margin-left 0 !important

.rtl .mr-2
  margin-right .5rem !important
  margin-left 0 !important

.rtl .mr-1
  margin-right .25rem !important
  margin-left 0 !important

/*styles ml*/
.ltr .ml-5
  margin-right 3rem !important
  margin-left 0 !important

.ltr .ml-4
  margin-right 1.5rem !important
  margin-left 0 !important

.ltr .ml-3
  margin-right 1rem !important
  margin-left 0 !important

.ltr .ml-2
  margin-right .5rem !important
  margin-left 0 !important

.ltr .ml-1
  margin-right .25rem !important
  margin-left 0 !important

/*rtl ml*/
.rtl .ml-5
  margin-left 3rem !important
  margin-right 0 !important

.rtl .ml-4
  margin-left 1.5rem !important
  margin-right 0 !important

.rtl .ml-3
  margin-left 1rem !important
  margin-right 0 !important

.rtl .ml-2
  margin-left .5rem !important
  margin-right 0 !important

.rtl .ml-1
  margin-left .25rem !important
  margin-right 0 !important

/*padding*/
/*styles pr*/

.ltr .pr-5
  padding-left 3rem !important
  padding-right 0 !important

.ltr .pr-4
  padding-left 1.5rem !important
  padding-right 0 !important

.ltr .pr-3
  padding-left 1rem !important
  padding-right 0 !important

.ltr .pr-2
  padding-left .5rem !important
  padding-right 0 !important

.ltr .pr-1
  padding-left .25rem !important
  padding-right 0 !important

/*rtl mr*/

.rtl .pr-5
  padding-right 3rem !important
  padding-left 0 !important

.rtl .pr-4
  padding-right 1.5rem !important
  padding-left 0 !important

.rtl .pr-3
  padding-right 1rem !important
  padding-left 0 !important

.rtl .pr-2
  padding-right .5rem !important
  padding-left 0 !important

.rtl .pr-1
  padding-right .25rem !important
  padding-left 0 !important

/*styles ml*/
.ltr .pl-5
  padding-right 3rem !important
  padding-left 0 !important

.ltr .pl-4
  padding-right 1.5rem !important
  padding-left 0 !important

.ltr .pl-3
  padding-right 1rem !important
  padding-left 0 !important

.ltr .pl-2
  padding-right .5rem !important
  padding-left 0 !important

.ltr .pl-1
  padding-right .25rem !important
  padding-left 0 !important

/*rtl ml*/
.rtl .pl-5
  padding-left 3rem !important
  padding-right 0 !important

.rtl .pl-4
  padding-left 1.5rem !important
  padding-right 0 !important

.rtl .pl-3
  padding-left 1rem !important
  padding-right 0 !important

.rtl .pl-2
  padding-left .5rem !important
  padding-right 0 !important

.rtl .pl-1
  padding-left .25rem !important
  padding-right 0 !important

/*material direction*/
.ltr .mat-checkbox-inner-container
  margin-right 8px !important
  margin-left 0 !important

.rtl .mat-checkbox-inner-container
  margin-left 8px !important
  margin-right 0 !important

.rtl .mat-menu-item
  text-align right !important

.rtl .mat-option
  text-align right !important

.rtl .mat-form-field
  direction: rtl
  display: block !important
  text-align: right !important

.ltr .mat-form-field
  display: block !important

.ltr .text-left
  text-align right !important

.ltr .text-right
  text-align left !important
